<!DOCTYPE html>
<html>
<head>
	<title>{{ matchid }}</title>
	{% if production %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.2.2/pixi.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.js"></script>
		<script src="/static/js/game_setup.min.js"></script>
		<script src="/static/js/game.min.js"></script>
		<script>
			var matchid = "{{ matchid }}";
			var production = true;
		</script>
	{% else %} 
		<script src="/static/js/pixi.js"></script>
		<script src="/static/js/zepto.js"></script>
		<script src="/static/js/game_setup.js"></script>
		<script src="/static/js/game.js"></script>
		<script>
			var matchid = "{{ matchid }}";
			var production = false;
		</script>
	{% endif %}
	<style>
		body {
            padding: 0;
            margin: 0;
            background-color: #000;
        }
	</style>
</head>
<body>
	<button id="start">
		Start game
	</button>
</body>
</html>